<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049883509502-gmhf7hrr6u93p4iov3dvignreioit0dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049883509502-gmhf7hrr6u93p4iov3dvignreioit0dc</string>
	<key>API_KEY</key>
	<string>AIzaSyDOAmyRKeS59VD-hIg7hVndyl9ihpt0g_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1049883509502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.arai.rasukaru.Renda</string>
	<key>PROJECT_ID</key>
	<string>renda-96474</string>
	<key>STORAGE_BUCKET</key>
	<string>renda-96474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049883509502:ios:9665ae9bab696811945baf</string>
</dict>
</plist>